.challenge-page .details>div{font-family:'Roboto'}.challenge-page .details>div{display:flex;flex-flow:row wrap;align-items:center}.challenge-page .details{display:flex;flex-flow:row wrap;align-items:center;justify-content:space-between}.challenge-page .invite>div{border-radius:3px}.challenge-page .challenge-id-form{white-space:nowrap}.challenge-page .invite{display:flex;flex-flow:row wrap}.challenge-page .invite>div{padding:2em 2em 1em 2em;background:#302e2c;margin:1em;flex:1 1 auto}.challenge-page .waiting{text-align:center}.challenge-page .waiting .user-link{font-size:2em}.challenge-page .waiting .spinner{width:13em;height:13em;margin:2em auto}.challenge-page .cancel{margin:2em 0;text-align:center}.challenge-page .details{border-radius:99px;background:#2c3021;border:1px solid #629924;padding:.5em 1.1em;margin-bottom:3rem;font-size:2em}.challenge-page .details>div::before{color:#629924;font-size:6rem;margin-right:.2em}.challenge-page .details>div div{line-height:1.4}.challenge-page .details>div .clock{font-weight:bold}
.challenge-page .details .mode{font-weight:300;color:#629924;font-style: oblique; }
.challenge-page .follow-up .button{display:block;margin-top:2em}.challenge-page .board-preview{margin:0 auto;max-width:300px}.challenge-theirs .button-fat{display:block;width:100%;margin-top:2em}

.right {
text-align:right;
}

/* quattropedoni layout */
#playersCont {
  padding: 2rem;
  border-radius: 6rem;
  background: #2c3021;
  border: 1px solid #629924;

}
#players. #sort {
  align-items:center;
  background: #161512;
  padding: 2rem;
  border-radius: 5rem;
  font-family:Roboto,sans-serif;
  font-size:1.5em;

  font-weight:300;
}
#players a {
  color:#bababa;
}
#players a.badge_ext {
  color:#1b77a8;
}

#players>a {
  display:flex;
  align-items: center;
  padding:0.3rem;
  min-height:40px;
  transition:0.33s ease-in-out background-color;
  cursor: pointer;
}
#players>a:hover {
  background-color:#262421;
}
#players>a>* {
  flex-basis: 50%;
}
#players>a img {
  max-height:32px;
}
#players>a .widgetd {
  font-size:12pt;
}

.playerStatus {
  display:flex;
  align-items:center;
}

.online i.status,
.offline i.status {
  width:2.2rem;height:2.2rem;border-radius:2rem;
  display:inline-block;
  margin: 0 3px;
  background-color:green;
}
.offline i.status {
  background-color:gray;
}

#sort {
  display:flex;
  padding-bottom:1rem;
}
#sort>* {
  flex-basis:25%;
  text-align:center;
}
#sort>*::after {
  content:"\25BC";
}

.title {
  font-size: 1.5rem;
    color:#bfb71d;
}
.title.IM {
  color:#bf811d;
}
